<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080167123309-q83pb8s2albim73k08gfb5n5j0439dcv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080167123309-q83pb8s2albim73k08gfb5n5j0439dcv</string>
	<key>API_KEY</key>
	<string>AIzaSyDsKSuBSBW1BXCbzv9n6VdvDYerw6cHQXE</string>
	<key>GCM_SENDER_ID</key>
	<string>1080167123309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-9d2a8</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-9d2a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080167123309:ios:07b30d64ea69e2749b3264</string>
</dict>
</plist>